<div class="home__container">
    <div class="container">
        <h1 class="home__welcome">Welcome to Resume Builder!</h1>
        <div class="home__description">Hello Developer, No more spend your precious time to search resume template for
            developer. Build your resume with our FREE template!</div>
    </div>
</div>