<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>My Resumes</title>
</head>

<body>
  <section class="hero is-info is-large">
    <div class="hero-body">
      <div class="container has-text-centered">
        <p class="title">
          Resume Builder
        </p>
        <p class="subtitle">
          Welcome {{userName}}
        </p>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <h1 class="title">{{userName}}</h1>
      <div class="level-right">
        <p class="level-item"><a class="button is-link is-light" href="/newResume">New Resume</a></p>
      </div>
    </div>
  </section>
  <div class="container">
    <div class="tile is-ancestor resumeTile columns is-multiline">
    </div>
  </div>
</body>
<script src="./js/index.js" type="text/javascript"></script>

<footer class="footer has-background-white-ter">
  <div class="content has-text-centered">
    <p>
      <strong>Resume Builder</strong> by Team Gold</a>. The source code is licensed
      <a href="http://opensource.org/licenses/mit-license.php">MIT</a>.
    </p>
  </div>
</footer>

</html>