<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>My Resumes</title>
</head>

<body>
  <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item app__name" href="/">
        RESUME BUILDER
      </a>

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu navbar-before-login visible">
      <div class="navbar-end">
        <a href="/signin" class="navbar-item nav-individual signup__link">
          Sign up
        </a>
        <a href="/login" class="navbar-item nav-individual login__link">
          Log in
        </a>
      </div>
    </div>
    <div id="navbarBasicExample" class="navbar-menu  navbar-after-login hidden">
      <div class="navbar-end">
        <a class="navbar-item is-active nav-individual" href='/index'>
          Home
        </a>
        <a class="navbar-item nav-individual" href="/newResume">
          New Resume
        </a>
        <a class="navbar-item logout__button nav-individual" href="/">
          Log Out
        </a>
      </div>
    </div>
  </nav>
  <section class="hero is-info is-large">
    <div class="hero-body">
      <div class="container has-text-centered">
        <p class="title">
          Resume Builder
        </p>
        <p class="subtitle">
          Welcome {{userName}}
        </p>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <h1 class="title">{{userName}}</h1>
      <div class="level-right">
        <p class="level-item"><a class="button is-link is-light" href="/newResume">New Resume</a></p>
      </div>
    </div>
  </section>
  <div class="container">
    <div class="tile is-ancestor resumeTile columns is-multiline">
    </div>
  </div>
</body>
<script src="./js/index.js" type="text/javascript"></script>

<footer class="footer has-background-white-ter">
  <div class="content has-text-centered">
    <p>
      <strong>Resume Builder</strong> by Team Gold</a>. The source code is licensed
      <a href="http://opensource.org/licenses/mit-license.php">MIT</a>.
    </p>
  </div>
</footer>

</html>