<div class="container login__container is-max-desktop">
    <div class="login__wrap">
        <p class='login__error__message is-hidden'>Incorrect email or password</p>
        <h1 class="title">Login</h1>
        <form class="login">
            <div class="field">
                <p class="control has-icons-left">
                    <input class="input" type="email" placeholder="Email">
                    <span class="icon is-small is-left">
                        <i class="fas fa-envelope"></i>
                    </span>
                </p>
            </div>
            <div class="field">
                <p class="control has-icons-left">
                    <input class="input" type="password" placeholder="Password">
                    <span class="icon is-small is-left">
                        <i class="fas fa-lock"></i>
                    </span>
                </p>
            </div>
            <button class="login__submit__button" type="submit">Log in</button>
        </form>
        <br />
        <div>Don't have <span style="color:rgb(117, 181, 206)">Resume Builder</span> account? </div>
        <a class="is-link" href="/signin">CREATE AN ACCOUNT</a>

    </div>
</div>