.index-container {
  min-height: 800px;
  padding: 30px 100px;
  background-color: rgba(221, 221, 221, 0.308);
}
.index-title {
  font-size: 30px;
  font-weight: 500;
}
.index-intro {
  margin: 20px 100px;
}
.index-intro > p {
  margin: 10px;
}
.index-resume-list-container {
  margin: 20px 100px;
}
.index-resume-total {
  font-size: 18px;
  font-weight: 500;
}
.resumeName {
  font-size: 20px;
  text-decoration: none !important;
}
.resumeName:hover {
  color: white !important;
}
figure {
  padding: 15px;
}
figure > img {
  border-radius: 1rem;
}
figure > img:hover {
  opacity: 0.8;
}
.resumeEditButton,
.resumeDeleteButton {
  padding: 5px 15px;
  margin: 0 10px;
  font-size: 18px;
  border-radius: 7px;
  cursor: pointer;
  border: 1px solid rgb(156, 156, 6);
  background-color: rgb(238, 238, 200);
}
.resumeEditButton:hover,
.resumeDeleteButton:hover {
  background-color: #ddd;
}
